@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(30, 30, 32);
}

/* Navigation */

nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 23, 23);
    position: fixed;
    width: 170px;
    height: 100%;
    padding-top: 25px;
    padding-right: 35px;
    padding-left: 30px;
    padding-bottom: 35px;
}

nav ul li {
    list-style: none;
    margin: 10px;
}

nav ul li a {
    display: block;
    width: 100%;
    padding: 8px;
    color: rgb(134, 143, 150);
    font-size: 15px;
    text-decoration: none;
    transition: .4s;
}

nav ul li a:hover,
nav a.active {
    padding-left: 16px;
    color: rgb(142, 195, 236);
}

nav ul li a i {
    margin-right: 20px;
    size: 15px;
}

.judul {
    display: flex;
}

.judul1 {
    font-family: 'Allura', cursive;
    color: rgb(82, 111, 115);
    font-size: 40px;
    margin-bottom: 40px;
}

.judul2 {
    font-family: 'Allura', cursive;
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

/* Content */

#content {
    padding: 8px;
    margin-left: 238px;
}

#content h2 {
    display: flex;
    font-size: 25px;
    color: white;
    padding: 10px;
    justify-content: center;
    background-color: rgb(35, 38, 45);
}

/* Header */

#header {
    display: flex;
    padding-top: 100px;
    padding-left: 40px;
}

#header img {
    height: 120px;
    border-radius: 100%;
    border-color: rgb(30, 30, 32);
    border-style: solid;
    border-width: 10px;
}

#header h3 {
    color: white;
    margin-left: 15px;
    margin-top: 30px;
}

#header p {
    flex-direction: row;
    color: white;
    padding: 8px;
    width: max-content;
    background-color: rgb(35, 38, 45);
    margin-left: 15px;
    margin-top: 22px;
}

.bio {
    display: flex;
}

/* Body */

#body-content {
    display: flex;
    padding: 8px;
}

#body-content-pf {
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    padding: 10px;
}

.body-content-1 {
    flex: 1;
    flex-direction: column;
    padding: 8px;
}

.body-content-2 {
    flex: 2;
    padding: 8px;
}

.bg-life,
.skill,
.hobby,
.sosmed,
.data,
.pendidikan,
.kemampuan,
.about {
    background-color: rgb(35, 38, 45);
    padding: 16px;
    padding-left: 32px;
    margin: 8px;
    margin-top: 25px;
    color: white;
}

.sosmed ul li a {
    text-decoration: none;
    color: white;
}

.about ul li {
    margin: 20px;
}

.bg-life h4,
.skill h4,
.hobby h4,
.sosmed h4,
.data h4,
.pendidikan h4,
.kemampuan h4 {
    margin-top: 8px;
    margin-left: -8px;
    margin-bottom: 16px;
    color: rgb(82, 111, 115);
}

.data table tr td {
    padding: 5px;
}

.card {
    width: 100%;
    height: auto;
    grid-column: span 2;
    margin: 10px 0;
    position: relative;
}

.card-header {
    padding: 20px;
    width: 200px;
    background-color: rgb(35, 38, 45);
    color: white;
}

.card-header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    width: 200px;
    margin-top: 10px;
    background-color: rgb(35, 38, 45);
    color: white;
}

.card-body h4 {
    margin-top: 8px;
    margin-bottom: 20px;
}

.btn-portf {
    background-color: white;
    padding: 8px;
    width: 100%;
}

.btn-portf a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* pc small */

@media screen and (max-width: 992px) {
    nav {
        flex-direction: row;
        background-color: rgb(23, 23, 23);
        width: 100%;
        height: 20px;
        padding-top: 5px;
        padding-right: 35px;
        padding-left: 30px;
        padding-bottom: 35px;
    }

    nav ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    nav ul li a {
        display: block;
        width: 100%;
        padding: 4px;
        color: rgb(134, 143, 150);
        font-size: 15px;
        text-decoration: none;
        transition: .4s;
    }

    nav ul li a i {
        margin-right: 10px;
        size: 10px;
    }

    #content {
        margin-left: 10px;
    }
}

/* tablet */

@media screen and (max-width: 768px){
}

/* Mobile */

@media screen and (max-width: 576px) {}